@using AsteriskBook.Areas.Asterisk.Models
@model PaginatedList<AsteriskBook.Models.Cdr>
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Areas/Cabinet/Views/Shared/_Cabinet.cshtml";
}

<h2>@DateTime.Today</h2>

<form>
    <div class="form-inline">
        <input type="date" name="date" />
        <input type="number" name="src" />
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
</form>
<table class="table table-striped">
    <thead class="thead-default">
        <tr>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["DateSortParm"]">Дата</a>
            </th>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["SrcSortParm"]">Исходящий</a>
            </th>
            <th>
                <a asp-action="index" asp-route-sortOrder="@ViewData["DstSortParm"]">Входящий</a>
            </th>
            <th>Path</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.calldate)</td>
                <td>@Html.DisplayFor(modelItem => item.src)</td>
                <td>@Html.DisplayFor(modelItem => item.dst)</td>
                <td>
                    <div class="form-inline">
                        @*<audio preload="metadata" controls src="@string.Format(@"//gateway/asterisk/{0}.wav" , i.uniqueid)"></audio>
                        <a class="btn btn-success" href=@string.Format(@"//gateway/asterisk/{0}.wav" , i.uniqueid) download><i class="fa fa-download"></i> Download</a>*@
                    </div>
                </td>
            </tr>

        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   @*asp-route-currentFilter="@ViewData["CurrentFilter"]"*@
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   @*asp-route-currentFilter="@ViewData["CurrentFilter"]"*@
   class="btn btn-default @nextDisabled">
    Next
</a>